h1 {
    color: #000;
}
.specialclass {
    color: khaki;
}
#specialid {
    color: blue;
}
.yellow {
    color: yellow;
}
.green {
    color: green;
}
.brown {
    color: brown;
}
.pink {
    color: pink;
}
.gray {
    color: gray;
}
.border {
    border: solid;
    color: aqua;
}
.border_2 {
    border: solid;
    border-radius: 5px;
    color: blueviolet;
}